<div class="form_bg">
<div class="container">
<div class="row">
<div class="col-md-12">
<form #formcontrol="ngForm" (ngSubmit)="submitdata(formcontrol)" novalidate>
        <div class="row">
                <div class="col-md-6">
    <div class="form-group">
        <label for="First Name">First Name </label>
        <input type="text" class="form-control"  name="firstname" minlength="20" pattern="^[a-zA-Z]+$" maxlength="10" [(ngModel)]="mydata.firstname" #firstname="ngModel"  required />
        <span *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="text-danger text-center">                   
                 
                <span *ngIf="firstname.errors.required">
                        first name required
                    </span>
                    <span *ngIf="firstname.errors.minlength">
                                first name minimum length is {{firstname.errors.minlength?.requiredLength}}
                         </span>
                    <span *ngIf="firstname.errors.maxlength">
                           first name maximum length is {{firstname.errors.maxlength?.requiredLength}}
                    </span>
                </span> 
            </div>
            </div>
                    <div class="col-md-6">
            <div class="form-group">
                    <label for="First Name">last Name </label>
                    <input type="text" class="form-control" name="lastname" minlength="20" [(ngModel)]="mydata.lastname" #lastname="ngModel" required />
                    <span *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)" class="text-danger text-center">
                            please enter last name
                            <span *ngIf="lastname.errors.required">
                                        last name required
                                    </span>
                        </span>        
                </div>
                </div>
                </div> 
                <div class="form-group">
                                <label for="First Name">Email </label>
                                <input type="text" class="form-control" name="Emailid"  [(ngModel)]="mydata.Emailid" #Emailid="ngModel" required email />
                                <span *ngIf="!Emailid?.valid && (Emailid?.dirty || Emailid?.touched)" class="text- text-center">
                                                <!-- <span *ngIf="Emailid.errors.required">
                                                                EMAIL reuired
                                                 </span> -->
                                                
                               
                                        <span *ngIf="Emailid.errors.email">
                                                        EMAIL ID NOT VALID
                                         </span>
                                        
                                        </span>       
                            </div>
                <div class="form-group">
                        <label for="First Name">Address </label>
                        <input type="text" class="form-control" name="Address" [(ngModel)]="mydata.Address" #Address="ngModel" required />
                        <span *ngIf="!Address?.valid && (Address?.dirty || Address?.touched)" class="text- text-center">
                                please enter Address
                            </span>        
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                            <label for="First Name">password </label>
                            <input type="text" class="form-control" name="Address" [(ngModel)]="mydata.Address" #Address="ngModel" required />
                            <span *ngIf="!Address?.valid && (Address?.dirty || Address?.touched)" class="text- text-center">
                                    please enter Address
                                </span>        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="First Name">Confirm password </label>
                                <input type="text" class="form-control" name="Address" [(ngModel)]="mydata.Address" #Address="ngModel" required />
                                <span *ngIf="!Address?.valid && (Address?.dirty || Address?.touched)" class="text- text-center">
                                        please enter Address
                                    </span>        
                            </div> 
                    </div>
                </div>
                <div class="form-group">
                        <label for="First Name">Mobile Number </label>
                        <input type="text" class="form-control" name="Address" minlength="10" [(ngModel)]="mydata.Address" #Address="ngModel" required />
                        <span *ngIf="!Address?.valid && (Address?.dirty || Address?.touched)" class="text- text-center">
                                please enter valid Mobile number
                                <span *ngIf="firstname.errors.maxlength">
                                                mobile number minimum length is {{firstname.errors.minlength?.requiredLength}}
                                         </span>
                            </span>        
                    </div>
                  
                <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!formcontrol.valid">Submit data</button>&nbsp;&nbsp;
                    
                    <button type="button" class="btn btn-danger" (click)="resetformdata(formcontrol)">Reseat</button>
                </div>
            </form>
           
    </div>
</div>
</div>
<div class="yourData">
        <h2>Your Json Data</h2>
<p> {{ formcontrol.value | json }}</p>

</div>
</div>