.container{
    position: relative;
}
input.ng-touched{
    background-color: brown;
}
.form_bg{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(#2193b0 , #6dd5ed);
    color: #fff;   
}

input.ng-touched{
     background-color: #ddd;
}
.yourData{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: 1px solid #ddd; */

    box-shadow: 0px 0px 20px #fff;
    padding: 20px 0px 50px 20px;
}
.yourData h2{
        text-align: center;
        margin-bottom: 10px;
        color: #333;
}
.yourData p{
    font-size: 22px;
    font-weight: 700;
}